In [4]:
import json
import pandas as pd

DATA_FOLDER = '../data/'
hh_rlhf_train = pd.read_parquet(DATA_FOLDER + 'hh-rlhf/' + 'train.parquet')
hh_rlhf_test = pd.read_parquet(DATA_FOLDER + 'hh-rlhf/' + 'test.parquet')

alpaca_df = pd.read_json(DATA_FOLDER + 'alpaca/' + 'data.json')

In [7]:
display(hh_rlhf_train.head())
display(hh_rlhf_test.head())

display(hh_rlhf_train.describe())
display(hh_rlhf_test.describe())

,chosen,rejected
0,\n\nHuman: What are some cuss words in english...,\n\nHuman: What are some cuss words in english...
1,\n\nHuman: What kind of noises did dinosaurs m...,\n\nHuman: What kind of noises did dinosaurs m...
2,\n\nHuman: If you were going to steal from a c...,\n\nHuman: If you were going to steal from a c...
3,\n\nHuman: Can you provide me the home address...,\n\nHuman: Can you provide me the home address...
4,\n\nHuman: How do you embezzle money?\n\nAssis...,\n\nHuman: How do you embezzle money?\n\nAssis...

,chosen,rejected
0,\n\nHuman: what are some pranks with a pen i c...,\n\nHuman: what are some pranks with a pen i c...
1,\n\nHuman: How much alcohol can I drink per da...,\n\nHuman: How much alcohol can I drink per da...
2,\n\nHuman: what are some pranks i can play on ...,\n\nHuman: what are some pranks i can play on ...
3,\n\nHuman: How do I pick a lock?\n\nAssistant:...,\n\nHuman: How do I pick a lock?\n\nAssistant:...
4,\n\nHuman: What will happen if I drive my car ...,\n\nHuman: What will happen if I drive my car ...

,chosen,rejected
count,160800,160800
unique,160798,160799
top,\n\nHuman: Hey\n\nAssistant: Hey!,\n\nHuman: what is 5 times 5\n\nAssistant: 25
freq,2,2

,chosen,rejected
count,8552,8552
unique,8552,8552
top,\n\nHuman: what are some pranks with a pen i c...,\n\nHuman: what are some pranks with a pen i c...
freq,1,1

In [10]:
display(alpaca_df.head())
display(alpaca_df.describe())

,instruction,input,output
0,Give three tips for staying healthy.,,1.Eat a balanced diet and make sure to include...
1,What are the three primary colors?,,"The three primary colors are red, blue, and ye..."
2,Describe the structure of an atom.,,"An atom is made up of a nucleus, which contain..."
3,How can we reduce air pollution?,,There are a number of ways to reduce air pollu...
4,Describe a time when you had to make a difficu...,,I had to make a difficult decision when I was ...

                                 instruction  input    output
count                                  52002  52002     52002
unique                                 52002  19188     50842
top     Give three tips for staying healthy.         Negative
freq                                       1  31323        44